$contentWidth: 1200px;

.apply-module {
  height: 9rem;
  background: url("@/assets/apply-bg.png") no-repeat;
  background-size: cover;

  &-in {
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: $contentWidth;
    overflow: hidden;

    .apply-info {
      margin-top: 1.88rem;
      text-align: center;
      color: #fff;
      text-align: center;
      font-family: "PingFang SC";
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
      opacity: 0.8;

      .blue {
        color: #1ce2e6;
      }
    }

    .apply-desc {
      margin-top: 0.24rem;
      color: #fff;
      text-align: center;
      font-family: "PingFang SC";
      font-size: 0.48rem;
      font-style: normal;
      font-weight: 200;
      line-height: 0.56rem;
    }

    .apply-download-wrap {
      position: relative;
      margin: 0.64rem auto 0;
      min-width: 1.58rem;
      max-width: 2.2rem;
      height: 0.56rem;
      box-sizing: content-box;
      cursor: pointer;
      font-family: "Source Han Sans CN";
      font-size: 0.18rem;
      font-style: normal;
      font-weight: 500;
      box-sizing: border-box;
      .svg-icon {
        width: 0.24rem;
      }

      &:hover {
        .apply-download-btn-default {
          opacity: 0;
          width: 2.2rem;
        }

        .apply-download-btn-hover {
          width: 2.2rem;
          z-index: 2;
          opacity: 1;
          animation: button-show 0.5s ease-in-out;
        }
      }

      .apply-download-btn-default {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.56rem;
        height: 100%;
        gap: 0.1rem;
        color: #fff;
        border: 0.02rem solid #fff;
        border-radius: 2rem;
        transition: 1s;
        box-sizing: border-box;
      }

      .apply-download-btn-hover {
        opacity: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 1.56rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 0.01rem;
        color: #fff;
        background-color: #06b1b1;
        border: 0.02rem solid #06b1b1;
        border-radius: 2rem;
        transition: 1s;
        box-sizing: border-box;

        &:active {
          background-color: #017b82;
          border-color: #017b82;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .apply-module {
    &-in {
      width: 100%;
      .apply-info {
        margin-top: 2.18rem;
        font-size: 1.2rem;

        .blue {
          color: #1ce2e6;
        }
      }

      .apply-desc {
        margin-top: 0.32rem;
        font-size: 0.88rem;
        line-height: 0.6rem;
      }
      .apply-download-wrap {
        height: 1rem;
        font-size: 0.32rem;
        .svg-icon {
          width: 0.36rem;
        }

        &:hover {
          .apply-download-btn-default {
            width: 4rem;
          }

          .apply-download-btn-hover {
            width: 4rem;
          }
        }

        .apply-download-btn-default {
          width: 3rem;
          gap: 0.1rem;
          border: 0.02rem solid #fff;
          border-radius: 2rem;
        }

        .apply-download-btn-hover {
          width: 3rem;
          gap: 0.01rem;
          border: 0.02rem solid #06b1b1;
          border-radius: 2rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
 .apply-module {
    &-in {
      width: 100%;
      .apply-info {
        margin-top: 2.18rem;
        font-size: 1.2rem;

        .blue {
          color: #1ce2e6;
        }
      }

      .apply-desc {
        margin-top: 0.32rem;
        font-size: 0.88rem;
        line-height: 0.6rem;
      }
      .apply-download-wrap {
        height: 1rem;
        font-size: 0.32rem;
        .svg-icon {
          width: 0.36rem;
        }

        &:hover {
          .apply-download-btn-default {
            width: 4rem;
          }

          .apply-download-btn-hover {
            width: 4rem;
          }
        }

        .apply-download-btn-default {
          width: 3rem;
          gap: 0.1rem;
          border: 0.02rem solid #fff;
          border-radius: 2rem;
        }

        .apply-download-btn-hover {
          width: 3rem;
          gap: 0.01rem;
          border: 0.02rem solid #06b1b1;
          border-radius: 2rem;
        }
      }
    }
  }

}