$contentWidth: 1200px;
.my-product {
  background-color: rgba(249, 249, 249, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

  &-in {
    width: $contentWidth;
    overflow: hidden;

    .my-product-title {
      margin-top: 0.96rem;
      padding-bottom: 0.32rem;
      color: #000;
      font-family: "Source Han Sans CN";
      font-size: 0.48rem;
      font-style: normal;
      font-weight: 700;
      text-align: center;
    }

    .my-product-content {
      margin: 0 auto 0.74rem;
      width: 100%;

      .my-product-item {
        display: flex;

        margin-bottom: 24px;
        padding: 20px 16px;
        width: 100%;
        height: 358px;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        border-radius: 24px;
        background-color: #fff;
        &-left {
          position: relative;

          width: 213px;
          height: 100%;
          overflow: hidden;
          &-item {
            height: 100%;
            border-radius: 16px;
            overflow: hidden;
            .my-poster-item {
              width: 100%;
              height: 100%;

              object-fit: cover;
            }
          }

          .my-product-switch {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            &-item {
              width: 12px;
              height: 6px;
              cursor: pointer;
              border-radius: 2000px;
              background: rgba(0, 0, 0, 0.12);
              &.active {
                width: 32px;
                background-color: #000;
              }
            }
          }
        }
        &-right {
          margin-left: 16px;
          flex: auto;
          height: 100%;
          &-head {
            display: flex;
            justify-content: space-between;
            .product-cate {
              color: rgba(0, 0, 0, 0.64);
              text-align: center;
              font-size: 16px;
            }
            .product-title {
              color: #000;
              text-align: center;
              font-size: 32px;
            }
            .product-part {
              width: 116px;
              object-fit: contain;
            }
          }
          &-body {
            margin-top: 40px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            &-item {
              flex: 1;
              text-align: center;
              display: flex;
              flex-direction: column;
              align-items: center;
              &-icon {
                margin-bottom: 15px;
                width: 40px;
                height: 40px;
                object-fit: cover;
              }
              &-desc {
                color: rgba(0, 0, 0, 0.64);
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .my-product {
    &-in {
      width: 100%;

      .my-product-title {
        margin-top: 1.06rem;
        padding-bottom: 0.75rem;
        font-size: 0.88rem;
      }
      .my-product-content {
         .my-product-item {

        margin-bottom: 0.24rem;
        padding: 0.40rem 0.32rem;
        width: 100%;
        height: 7.58rem;
        border-radius: 0.24rem;
        &-left {

          width: 4.63rem;
          height: 100%;
          &-item {
            border-radius: 0.16rem;
            .my-poster-item {
              width: 100%;
              height: 100%;
            }
          }

          .my-product-switch {
            bottom: 0.25rem;
            gap: 0.12rem;
            &-item {
              width: 0.46rem;
              height: 0.16rem;
              border-radius: 2000px;
              &.active {
                width: 0.84rem;
              }
            }
          }
        }
        &-right {
          margin-left: 0.16rem;
          &-head {
            .product-cate {
              font-size: 0.56rem;
            }
            .product-title {
              font-size: 0.82rem;
            }
            .product-part {
              width: 2.86rem;
            }
          }
          &-body {
            margin-top: 0.40rem;
            &-item {
              &-icon {
                margin-bottom: 0.2rem;
                width: 0.8rem;
                height: 0.8rem;
              }
              &-desc {
                font-size: 0.28rem;
                line-height: 0.48rem;
              }
            }
          }
        }
      }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .my-product {
    &-in {
      width: 100%;

      .my-product-title {
        margin-top: 1.06rem;
        padding-bottom: 0.75rem;
        font-size: 0.88rem;
      }
      .my-product-content {
       .my-product-item {

        margin-bottom: 0.24rem;
        padding: 20px 16px;
        width: 100%;
        height: 358px;
        border-radius: 24px;
        &-left {

          width: 213px;
          height: 100%;
          &-item {
            border-radius: 16px;
            .my-poster-item {
              width: 100%;
              height: 100%;
            }
          }

          .my-product-switch {
            bottom: 25px;
            gap: 12px;
            &-item {
              width: 12px;
              height: 6px;
              border-radius: 2000px;
              &.active {
                width: 32px;
              }
            }
          }
        }
        &-right {
          margin-left: 16px;
          &-head {
            .product-cate {
              font-size: 16px;
            }
            .product-title {
              font-size: 32px;
            }
            .product-part {
              width: 1.86rem;
            }
          }
          &-body {
            margin-top: 40px;
            &-item {
              &-icon {
                margin-bottom: 0.2rem;
                width: 0.8rem;
                height: 0.8rem;
              }
              &-desc {
                font-size: 0.28rem;
                line-height: 0.48rem;
              }
            }
          }
        }
      }
      }
    }
  }
}
